<form class="col-md-offset-2 col-md-8" role="form">
    <h2 class="form-login-heading">Register</h2>
    <span ng-show="spinner"><i class="loading fa fa-cog fa-spin"></i></span>
    <div ng-class="{'content-loading':spinner}">
        <div class="form-group">
            <label for="email">Email address</label>
            <input id="email" type="text" class="form-control" placeholder="Email" data-ng-model="registerData.email" required autofocus>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" class="form-control" placeholder="Password" data-ng-model="registerData.password" required>
        </div>
        <div class="form-group">
            <label for="passwordConfirm">Confirm Password</label>
            <input type="password" compareTo="registerData.password" class="form-control" placeholder="Confirm your password" data-ng-model="registerData.confirmPassword" required>
        </div>
        <button class="btn btn-info btn-block" type="submit" data-ng-click="register()">Register</button>
        <div data-ng-hide="message == ''" class="alert alert-danger">
            <p ng-repeat="m in message">
                {{m}}
            </p>
        </div>
    </div>
</form>