<form class="form-login col-md-3" role="form" novalidate>
    <h2 class="form-login-heading">Register</h2>
    <span ng-show="spinner"><i class="loading fa fa-cog fa-spin"></i></span>
    <div ng-class="{'content-loading':spinner}">
        <input type="text" class="form-control" placeholder="Email" data-ng-model="registerData.email" required autofocus>
        <br />
        <input type="password" class="form-control" placeholder="Password" data-ng-model="registerData.password" required>
        <br />
        <input type="password" compareTo="registerData.password" class="form-control" placeholder="Confirm your password" data-ng-model="registerData.confirmPassword" required>
        <br />
        <button class="btn btn-info" type="submit" data-ng-click="register()">Login</button>
        <br /><br />
        <div data-ng-hide="message == ''" class="alert alert-danger">
            {{message}}
        </div>
    </div>
</form>